* {
    font-family: Arial, Helvetica, sans-serif;
    color: #afbac5;
    background-color: #0d1017;
}

body {
    background-color: #0d1017;
    border: solid;
    border-color: #484f58;
    border-width: 1vw;
    border-top-width: 0em;
    height: 97svh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title {
    text-align: center;
    color: #e3b341;
    border-bottom: solid;
    border-color: #6e7681;
    border-bottom-width: 0.7vw;
    line-height: 8svh;
    font-size: 5svh;
    margin-top: 0;
    flex: 0 0 10%;
}

main {
    flex: 0 0 90%;
    display: flex;
    flex-direction: column;
    margin: 0 1svw;
}

.ruling-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.js-point {
    display: flex;
    flex-direction: column;
}